body {
  font-family: 'Lobster', cursive;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 50px;
}

.orange-color {
  color: orange;
}

section {
  display: flex;
}

section img {
  width: 80%;
}

.link-button {
  background-image: linear-gradient(orange, tomato);
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
